##### 1

In [13]:
# first method

string = "mina"
print(len(string))

# second method 

counter = 0 
for i in string:
    counter += 1
print(counter)

4
4

##### 2

In [21]:
input_string = input()
if len(input_string) < 2:
    print("Empty String")
else:
    print(input_string[0:2]+input_string[len(input_string)-2]+input_string[-1])

w3resource
w3ce

##### 3

In [23]:
input_string = input()
if len(input_string) < 3:
    print(input_string)
else:
    if input_string.endswith("ing"):
        print(input_string+"ly")
    else:
        print(input_string+"ing")

abcing
abcingly

##### 4

In [37]:
names = ["Ahmed" , "exercises" , "mina" , "Hamada" ,"ibrahimovic"]
longest_word = " "
max_length = 0
for name in names:
    if len(name) > len(longest_word):
        longest_word = name
        max_length = len(longest_word)
print("longest word: "+longest_word)
print("Length of the longest word:",max_length)

longest word: ibrahimovic
Length of the longest word: 11

##### 5

In [42]:
string = "mina"
print(string[-1]+string[1:-1]+string[0])

ainm

##### 6

In [43]:
string = "mina"
print(string[0::2])

mn

##### 7 ***

In [48]:
sentence = input("Enter a sentence: ")
words = sentence.split()

word_count = {}
for word in words:
    if word in word_count:
        word_count[word] += 1
    else:
        word_count[word] = 1

print("Word count:")
for word, count in word_count.items():
    print(word, ":", count)

Enter a sentence: amr and ahmed are frindes but amr is the tallest
Word count:
amr : 2
and : 1
ahmed : 1
are : 1
frindes : 1
but : 1
is : 1
the : 1
tallest : 1

##### 8

In [50]:
String = input()
print(string.upper())
print(string.lower())

mina
MINA
mina

##### 9

In [52]:
    
def reverse_string(s):
    if len(s) % 4 == 0:
        return s[::-1]
    else:
        return s
    
reverse_string(input())

mina

'anim'

##### 10

In [57]:
string = input()
string = string.strip()
print(string)

          mina
mina

##### 11

In [58]:
string = "mina"
print(string.startswith("m"))

True

##### 12

In [2]:
string = input()
prefix = "Prefix: "
lines = string.split(" ")
prefixed_lines = [prefix + line for line in lines]
print(prefixed_lines)

Ahmed byl3b fel mal3ab
['Prefix: Ahmed', 'Prefix: byl3b', 'Prefix: fel', 'Prefix: mal3ab']

##### 13

In [12]:
numbers = [3.1415, 1.2345, 0.5678, 9.8765]
for number in numbers:
    print(round(number , 2))

3.14
1.23
0.57
9.88

##### 14

In [17]:
numbers = [3.1415, -1.2345, 0.5678, -9.8765]

for number in numbers:
    formatted_number = "{:+.2f}".format(number)
    print(formatted_number)

+3.14
-1.23
+0.57
-9.88

##### 15

In [22]:
number = 124578
formatted_number = "{:,}".format(number)
print(formatted_number)

124,578

##### 16

In [24]:
# first method

string = input()
print(string[::-1])

# second method

reversed_string = ""
for char in string:
    reversed_string = char + reversed_string
print(reversed_string)

hello world
dlrow olleh
dlrow olleh

##### 17 ***

In [29]:
string = input()
char_count = {}
for char in string:
    if char in char_count:
        char_count[char] += 1
    else:
        char_count[char] = 1

print("character count: ")
for char , count in char_count.items():
    print(char , ":" , count)

hamada gamed
character count:
h : 1
a : 4
m : 2
d : 2
  : 1
g : 1
e : 1

##### 18 ***

In [32]:
def first_none_repeating_char(string):
    char_count = {}
    for char in string:
        if char in char_count:
            char_count[char] += 1
        else:
            char_count[char] = 1
    for char in string:
        if char_count[char] == 1:
            return char
    return None


String = input()
result = first_none_repeating_char(String)
print(result)

hello world
h

##### 19

In [34]:
string = input()
print(string.replace(" " , ""))

ahmed hafez
ahmedhafez

##### 20

In [40]:
string = input()
n = len(string)
result = int(n*(n+1)/2)
print(result)

hello
15

##### 21

In [39]:
list = ["hamada" , "mina" , "ahmed" , "hafez"]
string = list[-1]
list[-1] = list[0]
list[0] = string
list

['hafez', 'mina', 'ahmed', 'hamada']

##### 22

In [46]:
list = [23, 65, 19, 90]
pos_1 = int(input())-1
pos_2 = int(input())-1
temp = list[pos_2]
list[pos_2] = list[pos_1]
list[pos_1] = temp
list

1
3

[19, 65, 23, 90]

##### 23

In [48]:
# first method

list = [24,25,26,85]
print(len(list))

# second method

counter = 0
for i in list:
    counter += 1
print(counter)

4
4

##### 24

In [52]:
list = [25,26,28,29,78,80]
max_number = list[0]
for num in list:
    if num > max_number:
        max_number = num
print("maximum number is ",max_number)

maximum number is  80

##### 25

In [51]:
list = [25,26,28,29,78,80]
min_number = list[0]
for num in list:
    if num < min_number:
        min_number = num
print("minimum number is ",min_number)

minimum number is  25

##### 26

In [53]:
list = [24,25,26,282,90]
for number in list:
    if number == 282:
        print("number found")

number found

##### 27

In [58]:
# first method 

list = [28,51,93,80,51]
list.clear()
list

# second method

list = [28,51,93,80,51]
list = [] 
list

# third method

list = [28,51,93,80,51]
list[:] = []
list

# fourth method

list = [28,51,93,80,51]
del list[0:len(list)]
list

# fifth method

list = [28,51,93,80,51]
list = [i for i in []]
list

[]

##### 28

In [1]:
lst = [1, 2, 3, 4, 2, 1]
s = set(lst)  
result = list(s)
print(result)

[1, 2, 3, 4]

##### 29 ***

In [2]:
test_list = ["Gfg", 3, "is", 8]
key_list = ["name", "id"]

output = []
for i in range(0, len(test_list), len(key_list)):
    temp_dict = {}
    for j, key in enumerate(key_list):
        temp_dict[key] = test_list[i + j]
    output.append(temp_dict)

print(output)

[{'name': 'Gfg', 'id': 3}, {'name': 'is', 'id': 8}]

##### 30

In [12]:
# first method

list = [1,2,3,5,4,60,5,5,5,5]
unique_values = set(list)
print(len(unique_values))

# second method

list = [1,2,3,5,4,60,5,5,5,5]
counts = {}
for value in list:
    if value in counts:
        counts[value] += 1
    else:
        counts[value] = 1
print(len(counts))

# third method

from collections import Counter
list = [1,2,3,5,4,60,5,5,5,5]
counts = Counter(list)
print(len(counts))

6
6
6

##### 31

In [13]:
test_list = [4, 6, 4, 3, 3, 4, 3, 4, 3, 8]
K = 3

from collections import Counter
counts = Counter(test_list)

result = [elem for elem, count in counts.items() if count > K]

print(result)

[4, 3]

##### 32

In [19]:
def maximumAdjacent(arr1, n):
   
    arr2 = [] 
    for i in range(1, n):
        r = max(arr1[i], arr1[i-1])
        arr2.append(r)
         
    for ele in arr2 :
        print(ele,end=" ")
   
n = 6 
arr1 = [1,2,2,3,4,5]
maximumAdjacent(arr1, n)

2 2 3 4 5

##### 33

In [25]:
from itertools import permutations

input_list = [1, 2, 3]
combinations = permutations(input_list)
for combination in combinations:
    print(*combination, sep=' ')

(1, 2, 3)
(1, 3, 2)
(2, 1, 3)
(2, 3, 1)
(3, 1, 2)
(3, 2, 1)

##### 34***

In [29]:
from itertools import combinations

test_list = [1, 2, 3]

# Using combinations to generate all possible combinations of the elements in the list
combinations_list = []
for i in range(1, len(test_list)+1):
    temp_combinations = combinations(test_list, i)
    combinations_list.extend(temp_combinations)

# Using a list comprehension to filter out the combinations that don't meet the condition
result = [combination for combination in combinations_list if any(elem in combination for elem in [1, 2])]

# Printing the output
print(result)

[(1,), (2,), (1, 2), (1, 3), (2, 3), (1, 2, 3)]

##### 35***

In [4]:
import itertools

List_1 = ["a", "b"]
List_2 = [1, 2]

Unique_combination = list(itertools.product(List_1, List_2))
Unique_combination = [list(comb) for comb in Unique_combination]

print(Unique_combination)

[['a', 1], ['a', 2], ['b', 1], ['b', 2]]

##### 36***

In [25]:
my_list = [1 ,1 ,2 ,3 ,4 ,5 ,1 ,2 , 1]
for value in my_list:
    if value == 1:
        my_list.remove(value)
my_list.remove(1)
my_list

[2, 3, 4, 5, 2]

##### 37

In [44]:
list_1 = ["Gfg", "is", "best"]
list_2 = [0, 1, 2, 1, 0, 0, 0, 2, 1, 1, 2, 0]

for i in range(0,len(list_2)):
    if list_2[i] == 0:
        list_2[i] = list_1[0]
    elif list_2[i] == 1:
        list_2[i] = list_1[1]
    else:
        list_2[i] = list_1[2]
print(list_2)

['Gfg', 'is', 'best', 'is', 'Gfg', 'Gfg', 'Gfg', 'best', 'is', 'is', 'best', 'Gfg']

##### 38

In [45]:
def retain_records(test_list, K, N):
    result = []
    for tpl in test_list:
        if tpl.count(K) == N:
            result.append(tpl)
    return result

test_list = [(4, 5, 5, 4), (5, 4, 3)]
K = 5
N = 2
print(retain_records(test_list, K, N)) 

K = 5
N = 3
print(retain_records(test_list, K, N))

[(4, 5, 5, 4)]
[]

##### 39

In [46]:
array = [[1, 3, 3], [2, 1, 2], [3, 2, 1]]

def sort_list_by_column(arr, col):
    return sorted(arr, key=lambda x: x[col])

for i in range(len(array[0])):
    print(f"Sorted array specific to column {i}, {sort_list_by_column(array, i)}")

Sorted array specific to column 0, [[1, 3, 3], [2, 1, 2], [3, 2, 1]]
Sorted array specific to column 1, [[2, 1, 2], [3, 2, 1], [1, 3, 3]]
Sorted array specific to column 2, [[3, 2, 1], [2, 1, 2], [1, 3, 3]]

##### 40

In [47]:
my_dict = {'ravi': 10, 'rajnish': 9, 'sanjeev': 15, 'yash': 2, 'suraj': 32}

sorted_dict_by_key = dict(sorted(my_dict.items()))

sorted_dict_by_value = dict(sorted(my_dict.items(), key=lambda x: x[1]))

print("Sorted dictionary by key:", sorted_dict_by_key)
print("Sorted dictionary by value:", sorted_dict_by_value)

Sorted dictionary by key: {'rajnish': 9, 'ravi': 10, 'sanjeev': 15, 'suraj': 32, 'yash': 2}
Sorted dictionary by value: {'yash': 2, 'rajnish': 9, 'ravi': 10, 'sanjeev': 15, 'suraj': 32}

##### 41

In [31]:
test_dict = {'Gfg': 3, 'is': 7, 'best': 10, 'for': 6,}
K = 7

output_dict = {key: value for key, value in test_dict.items() if value <= K}

print(output_dict)

{'Gfg': 3, 'is': 7, 'for': 6}

##### 42

In [55]:
dic1 = {1:10, 2:20}
dic2 = {3:30, 4:40}
dic3 = {5:50, 6:60}

result_dict = {**dic1, **dic2, **dic3}

print(result_dict)

{1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

##### 43

In [59]:
my_dict = {'apple': 2, 'banana': 4, 'orange': 3}

print("iterating over key")
for key in my_dict:
    print(key)

print("iterating over values")
for value in my_dict.values():
    print(value)
    
print("iterating over both keys and values")
for key , value in my_dict.items():
    print(key, ':', value)

iterating over key
apple
banana
orange
iterating over values
2
4
3
iterating over both keys and values
apple : 2
banana : 4
orange : 3

##### 44

In [60]:
dic_1 = {'apple': 2, 'banana': 4, 'orange': 3}
dic_2 = {'pear': 1, 'kiwi': 5}
merged_dic = {**dic_1 , **dic_2}
print(merged_dic)

{'apple': 2, 'banana': 4, 'orange': 3, 'pear': 1, 'kiwi': 5}

##### 45

In [63]:
dic = {'mina':21 , 'ahmed':35 , 'salah':26}
max = dic["mina"]
for value in dic.values():
    if value >= max:
        max = value
print(max)

35

##### 46***

In [73]:
dic = {'c1': 'Red', 'c2': 'Green', 'c3': None}
for value in dic.values():
    if value == None:
        dic.popitem()
        break
print(dic)

{'c1': 'Red', 'c2': 'Green', 'c3': None}

##### 47

In [76]:
tup = (1,2,2,4,8,7,8)
print(tup[4])

8

##### 48

In [82]:
tup = (1,2,2,"Ahmed")
number1 , number2 , number3 , name = tup
print(number1 , number2 , number3 , name)

1 2 2 Ahmed

##### 49

In [83]:
tup = (1,2,2,"Ahmed")
lis = list(tup)
lis.append("hamada")
new_tup = tuple(lis)
print(new_tup)

(1, 2, 2, 'Ahmed', 'hamada')

##### 50

In [85]:
tup = ('a','b','c')
my_str = ''.join(tup)
my_str

'abc'

##### 51

In [87]:
lis = [1,2,3,5,"ahmed"]
tup = tuple(lis)
tup

(1, 2, 3, 5, 'ahmed')

##### 52

In [100]:
tup = (1,2,2,"Ahmed")
lis = list(tup)
lis.reverse()
tup = tuple(lis)
tup

('Ahmed', 2, 2, 1)

##### 53

In [102]:
lis = [(10, 20, 40), (40, 50, 60), (70, 80, 90)]
new_value = 100
new_list = [tuple(lst[:-1]) + (new_value,) for lst in lis]
new_list

[(10, 20, 100), (40, 50, 100), (70, 80, 100)]

##### 54

In [103]:
my_str = "ahmed"
tup = tuple(my_str)
tup

('a', 'h', 'm', 'e', 'd')

##### 55

In [107]:
tup = (1,2,3,4,5,6,7,80)
sum = 0
for value in tup:
    sum += value
average = sum/len(tup)
print(average)

13.5

##### 56

In [108]:
set = {1,2,5,3,6,8}
set.add("ahmed")
set

{1, 2, 3, 5, 6, 8, 'ahmed'}

##### 57

In [109]:
set = {1,2,5,3,6,8}
set.remove(1)
set

{2, 3, 5, 6, 8}

##### 58

In [3]:
set_1 = {1,2,3,4,5,6,80}
set_2 = {1,20,30,50,80}
set_3 = {'Ahmed' , 'Hamada' , 60,70,30 , 1}
intersection = set_1.intersection(set_2 , set_3)
union = set_1.union(set_2 , set_3)
difference = set_1.difference(set_2)
sym_difference = set_1.symmetric_difference(set_2)
print(intersection)
print(union)
print(difference)
print(sym_difference)

{1}
{1, 2, 3, 4, 5, 6, 'Ahmed', 70, 80, 50, 20, 'Hamada', 60, 30}
{2, 3, 4, 5, 6}
{2, 3, 4, 5, 6, 50, 20, 30}

##### 59

In [9]:
set = {1,2,3,4,5,3,6}
max = max(set)
min = min(set)
print(max)
print(min)

6
1

##### 60

In [13]:
list = [1,2,3,5,4,7,80]
sum = 10
result = []
for i in range(len(list)):
    for j in range(i+1 , len(list)):
        if list[i] + list[j] == sum:
            result.append((list[i] , list[j]))
print("Pairs of elements whose sum is equal to", sum, ":")
for pair in result:
    print(pair)

Pairs of elements whose sum is equal to 10 :
(3, 7)